html {
  font-size: 60%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(165, 166, 167);
  font: 300 11px/1.4 'Times New Roman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: flex;
}
